<form novalidate [formGroup]="loginForm" class="form-signin" (ngSubmit)="login(loginForm)">
    <h1 class=" h3 mb-3 font-weight-normal">Please sign in</h1>

    <p *ngIf="loginForm.controls['email'].hasError('required') && loginForm.controls['email'].touched" class="error">Email is required.</p>
    <p *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched" class="error">Password is required.</p>

    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" formControlName="email" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" formControlName="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <div class="checkbox mb-3">
        <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" [disabled]="!loginForm.valid" type="submit">Sign in</button>
</form>

<pre>{{loginForm.value | json}}</pre>
<pre>{{loginForm.valid}}</pre>


<footer class="footer">
    <div class="container">
        <span class="text-muted">&copy; 2017-2018</span>
    </div>
</footer>